body {	
    font-size: 20px;

    background-color: lightblue; /* For browsers that do not support gradients */
    background-image: radial-gradient(farthest-side at 95% 90%, white , lightblue, lightsteelblue ); /* Standard syntax (must be last) */

    }

#estadoElegido {
    font-size: 3.5em;
    color: crimson;

}

#escudo {
    float: right;
    width: 20%;
	opacity: 0.15;
    filter: alpha(opacity=15); /* For IE8 and earlier */
    z-index: -2;

}

#imgResultado
{
   /* width: 150px;
    width: 50%;*/
    max-width: 50%;
    height: auto;
}

.avatar {
    width: 50%;
	opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    text-align: center;
    

}

#cabecera {
    padding-bottom: 5%;
    padding-left: 5%;

    padding-right: 5%;
    margin: 1%;

}

div.gallery {
    border: 2px solid #ccc;	
    z-index: 2;
    text-align:center;

}

div.gallery:hover {
    border: 1px solid #777;
	background-color: lightblue;

}

div.gallery img {
    /*width: 90%;*/
    /*height: auto;*/
    height: 17em;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}


.responsive {
    padding: 0 6px;
    width: 24.99999%;
    float: left;

}


#resultados {
    clear:left;
    text-align: center;
    
}

#datosusr {
    float: left;
    font-size: 20px;


}

footer {
    clear: left;
}


 /* The Modal (background) */
 .modal {
    text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(173,216,230,0.85); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #7c95ca;
    margin: 20px auto; /* 15% from the top and centered */
    border: 20px solid rgb(202, 14, 14);
    padding: 1%;
    width: 80%; /* Could be more or less, depending on screen size */
}
.container {
    padding: 1%;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 


/*             MODAL     NUMERO     2           */


/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 1%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    text-align: center;
}

/* Modal Content */
.modal-content2 {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header2 {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body2 {
    padding: 2px 16px;
}

.modal-footer2 {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn2 {
    from {bottom: -80%; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn2 {
    from {bottom: -80%; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn2 {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn2 {
    from {opacity: 0} 
    to {opacity: 1}
}